body {
    background-color: #1d33a3;
}

.container {
    height: 100vh;
    border: 1px solid #000;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
     background-color: deeppink;
     grid-row: 1 / 3;
     grid-column: 1 / 2;

     display: grid;
     grid-template-rows: 1fr 1fr 1fr;
     grid-template-columns: 1fr;
}

.sidebar-top {
    /* only 1 element Icon + Text Dashboard */
    background-color: #aec5dc;
    
}

.sidebar-mid {
    background-color: #fff;
}
.home {
    /*background-color: #e8e9eb;*/
    
}

.profile {
    /*background-color: #1965b0;*/
    
}

.messages {
    /*background-color: #d7dce1;*/
    
}

.history {
    /*background-color: #1965b0;*/
   
}

.tasks {
    /*background-color: #c2cbd5;*/
    
}

.communities {
    /*background-color: #1965b0;*/
   
}

.sidebar-bottom {
    background-color: #dacaca;
}

.settings {
    /*background-color: #b5bcc3;*/
 
}

.support {
    /*background-color: #1965b0;*/
    
}

.privacy  {
    /*background-color: #bcc4cd;*/
    
}

.header {
    /*background-color: #00ff00;*/
    
}

.main-content {
    /*background-color: #f98000;*/
    
}