* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh; /* later 100vh */
    /*border: 4px solid red;*/
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 0.9fr 4fr;
}

.sidebar {
    background-color: #0099ff;
    color: #fff;
    font-size: 1.2rem;
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: 0.2fr 0.7fr 0.3fr 1fr;
    grid-template-columns: 1fr;
    gap: 1.5rem 0px;
}


.sidebar-top {
    background-color: #0099ff;
    font-size: 1.4rem;
    grid-row: 1 / 2;
    grid-column: 1 /2 ;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
}

.dashboard-img { /* only image in sidebar with different size */
    width: 50px;
}

.dashboard-text {
    justify-self: start;
}
.sidebar-mid {
    background-color: #0099ff;
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
}

.sidebar-bottom {
    background-color: #0099ff;
    grid-row: 3 / 4;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
    gap:0.8rem 0rem;
}

.sidebar-img {
    width: 25%; /* 25px */
    background-color: #0099ff;
}

.sidebar-link {
    justify-self: start;
    text-decoration: none;
    color: white;
}

.sidebar-link:hover {
    color: deeppink;
}

.header {
    background-color: #fff;
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
}

.header-top-left {
    border: 2px solid red;
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 8fr;

}

.header-btnSearch {
    
}

.header-input {
   
}

.header-top-right {
    border: 2px solid green;
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;

}

.header-btnNotifications {
   
}

.header-img-right {

}

.header-text-right {
   
}

.header-bottom-left {
    border: 2px solid green;
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 7fr;
}

.header-img-bottom-left {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.header-text-bottom-left {
  
}

.header-text-bottom-left-2 {
   
}

.header-bottom-right {
    border: 2px solid red;
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-btnNew {
    
}

.header-btnUpload {
    
}

.header-btnShare {
    
}









.main-content {
    /*background-color: #dcdcdc;*/
    background-color: rgb(128, 128, 128);
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}