* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh; /* later 100vh */
    /*border: 4px solid red;*/
    display: grid;
    grid-template-rows: 0.8fr 4fr;
    grid-template-columns: 0.9fr 4fr;
}

.sidebar {
    color: #fff;
    font-size: 1.2rem;
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: 0.2fr 0.7fr 0.3fr 1fr;
    grid-template-columns: 1fr;
    gap: 1.5rem 0px;
}

.sidebar-top {
    background-color: #0099ff;
    font-size: 1.4rem;
    grid-row: 1 / 2;
    grid-column: 1 /2 ;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
}

.dashboard-icon { /* only image in sidebar with different size */
    width: 50px;
}

.dashboard-text {
    justify-self: start;
}
.sidebar-mid {
    background-color: #0099ff;
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
}

.sidebar-bottom {
    background-color: #0099ff;
    grid-row: 3 / 4;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
    gap:0.8rem 0rem;
}

.sidebar-icon {
    width: 35%;
    min-width: 20px; /* 25px */
    background-color: #0099ff;
}

.sidebar-link {
    justify-self: start;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.sidebar-link:hover {
    color: deeppink;
}

.header {
    background-color: #fff;
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 1.2fr 2fr;
    grid-template-columns: 1.8fr 1fr;

    align-items: center;
    
}

.header-top-left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    min-height: 100%;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 8fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;

}

.header-btnSearch {
    width: 30px;
    height: 30px;
    padding: 0px;
    background-color: #fff;
    border: none;
    justify-self: end;    
}

.header-input {
   height: 25px;
   width: 90%;
   border-radius: 10px;
   justify-self: start;
   border: none;
   background-color: #e8eaea;
}

.header-top-right {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    min-height: 100%;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1.5fr 1fr 2fr;
    align-items: center;
    justify-items: end;
}

.header-btnNotifications {
    width: 20px;
    padding: 0px;
    background-color: #fff;
    border: none;
    /*justify-self: end; */
}


.header-img-right { /* cat.img */
    width: 40px;
    border-radius: 50%;
    
}

.header-text-right {
    justify-self: center;
    font-weight: bold;
}

.header-bottom-left {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    min-height: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 7fr;
    
    align-items: center;
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.header-img-bottom-left { /* cat.img */
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    width: 60px;
    border-radius: 50%;
    justify-self: end;
}

.header-text-bottom-left {
    align-self: end;
}

.header-text-bottom-left-2 {
   align-self: start;
   font-weight: bold;
   font-size: 1.3rem;
}

.header-bottom-right {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    min-height: 100%;
    
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    
}

.header-btn {
    width: 70%;
    min-width: 50px;
    height: 35%;
    min-height: 25px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
}

.header-btn:hover {
    background-color: deeppink;
}


.main-content {
    /*background-color: #dcdcdc;*/
    background-color: #cbd5e1;
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 3fr 1fr;
    gap: 0.5rem;
    
}

.main-top {
    grid-column: 1 / 3;

    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: end;
}

.main-text-top-left {
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    
}

.main-text-top-right {
    font-size: 1.5rem;
    font-weight: bold;
}

.main-mid-left {
 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.card {
    border-left: 8px solid orange;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    background-color: #fff;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 0.1rem;    
}

.card-headline {
    font-size: 1.2rem;
    align-self: end;
    font-weight: bold;
    padding-left: 1rem
}

.card-text {
    color: #605d5d;
    padding-left: 1rem;
}

.card-icons {
    display: grid;
    grid-template-columns: 2fr 0.7fr 0.7fr 0.7fr 0.4fr; /* first and last column are empty */
    justify-items: center;
    align-items: center;
}

.card-icon {
    width: 25px;
}

/* placing first icon in second column, so first one is empty and the other
   items fill the third and fourth column */
.card-icon:nth-child(1) { 
    grid-column: 2 / 3;
}


.main-mid-right {  
    display: grid;
    grid-template-rows: 6fr 1fr 6fr;
    margin-right: 2rem;
}

.main-mid-right-top { 
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 1rem; 
}

.main-mid-right-top-item {
    align-self: center;
    justify-self: center;
    width: 90%;
}

.main-mid-right-top-heading {
   font-weight: bold;
}

.main-mid-right-top-text {
   
}

.main-mid-right-mid { /* text Trending*/
    font-size: 1.5rem;
    font-weight: bold;
    align-self: end;
}

.main-mid-right-bottom {
    background-color: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    
}

.item {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr; 
}

.item > img {
    grid-row: 1 / 3;
    grid-column: 1/ 2;
    justify-self: center;
    align-self: center;
}

.item-name {
    font-size: 1.2rem;
    font-weight: bold;
    justify-self: start;
    align-self: end;
}

.item-text {
    color: #605d5d;
}

.item-img {
    width: 50px;
    border-radius: 50%;
}



/* grouping elements with same color together*/
.item-text,
.main-mid-right-top-text,
.card-text {
   color: #605d5d;
}

.sidebar,
.header-btn { /* colors are same as in sidebar */
    background-color: #0099ff;;
    color: #fff; 
}